html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Poppins', sans-serif;
}

/* Glow pour un effet magique */
.text-glow {
  text-shadow: 0 0 10px rgba(168, 85, 247, 0.8),
    0 0 20px rgba(59, 130, 246, 0.6);
}

/* Carte avec effet d’ombre vivante */
.card-shadow {
  box-shadow: 0 0 30px rgba(109, 40, 217, 0.2),
    0 0 10px rgba(59, 130, 246, 0.2);
  transition: all 0.3s ease-in-out;
}

.card-shadow:hover {
  box-shadow: 0 0 40px rgba(109, 40, 217, 0.4),
    0 0 20px rgba(59, 130, 246, 0.4);
  transform: translateY(-4px);
}

/* Matrix Animation */
@keyframes matrix-scroll {
  0% {
    transform: translateY(-50%);
  }

  100% {
    transform: translateY(0%);
  }
}

.animate-matrix {
  animation: matrix-scroll 20s linear infinite;
}